<div class="content-section">
    <div class="float-right">
        <!--(click)="onEdit(notif)"-->
        <a  onclick="javascript:alert('Edit: Coming soon');" class="btn"><i class="fas fa-pen fa-xs"></i></a> 
        <a (click)="onDelete(notif)" class="btn"><i class="fas fa-trash-alt fa-xs"></i></a>
    </div>
  <h3 class="title-heading">{{ notif.title }}</h3>
  <div class="float-right">
    <small>Notification #{{ notif.id }} - posted at <code>{{ notif.updated_on }}</code></small>
  </div>
  <br/>
  <hr/>
  <p>{{ notif.body }}</p>
</div>