.del {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
  
}
  
.edit {
    background: #111;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.modal-content {
    background: rgba(35,36,39,0.95);
    padding: 10px 20px;
    color: #C9D3E7;
    border: 1px solid #2c2f36;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25);
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  